# entorno virtual
.venv/
venv/

# cache python
__pycache__/
*.pyc
playwright_state.json

# archivos sensibles
config.py
config.local.py
credentials/
*.json

# logs
*.log

# sistema
.DS_Store
Thumbs.db

